<%
	title = 'JavaScript API Docs';
	heading = 'Object Extensions';
	menu = '/javascript-docs/menu.jst';
%>
<%= include('/include/header.jst') %>

	<h2>About Object Extensions</h2>
<%= include('/include/footer.jst') %>
