<%
	title = 'JavaScript API Docs';
	heading = 'print_r API';
	menu = '/javascript-docs/menu.jst';
%>
<%= include('/include/header.jst') %>

	<h2>About print_r</h2>
<%= include('/include/footer.jst') %>
