<%
	title = 'JavaScript API Docs';
	heading = 'The req Object';
	menu = '/http-docs/menu.jst';
%>
<%= include('/include/header.jst') %>

	<h2>About The req Object</h2>
<%= include('/include/footer.jst') %>
